* {
	box-sizing: border-box;
}

html {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  font-family: Helvetica, "Helvetica Neue", Arial, "Heiti SC", "Microsoft JhengHei", "微軟正黑體", "Microsoft Yahei", "微軟雅黑", sans-serif; 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

h1 {
  width: 90%;
  margin: 30px auto;
  font-size: 24px;
}

input {
  padding: 8px 5px;
}

form {
  width: 90%;
  margin: auto;
}

.thanks {
  padding: 0px 30px 15px;
	border-bottom: 3px solid #08b;
}



select.ui {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  color: #AEAEAE;
}
.ui.button {
  margin-top: 5px;
}
.q {
  display: block;
  height: 300px;
}

.q__title {
  display: block;
}

.ui.input[type="radio"] {
 display: inline-block;
}

legend {
  font-size: 20px;
}

.poster {
  max-width: 400px;
  width: 60%;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.ui-page {
  text-shadow: none;
  background: #70c7dc;
}

.ui-controlgroup, fieldset.ui-controlgroup {
  margin-bottom: 30px;
}

label.ui-btn.ui-radio-on {
  background: #dedede;
}

@media (max-width: 600px) { 
}
